.app-header {
  overflow: hidden;
  background-color: #969EFF;
  padding: 20px 10px;
  margin-bottom: 1em;
}

.app-header, h1 {
  color: white;
  font-family: 'Finger Paint', cursive;
  font-size: 1.6em;
  text-align: center;
}

#students-header {
  display: flex;  
  overflow: hidden;
  background-color: #AAADD1;
  padding: 10px 10px;
  margin-bottom: 1em;
}

#students-header h1 {
  color: white;
  font-family: 'Finger Paint', cursive;
  font-size: 2.2em;
  text-align: left;
  padding-left: 3.8em;
}

#students-header h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  text-align: left;
  padding-left: .8em;
}

#room-header {
  display: flex;  
  overflow: hidden;
  background-color: #AAADD1;
  padding: 10px 10px;
  margin-bottom: 1em;
}

#room-header h1 {
  color: white;
  font-family: 'Finger Paint', cursive;
  font-size: 2.2em;
  text-align: left;
  padding-left: 3.8em;
}

#room-header h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  text-align: left;
  padding-left: .8em;
}

#add-student {
  background-color: white;
  border: none;
  color: #AAADD1;
  padding: 10px 10px;
  font-family: 'Mali', cursive;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  margin-left: 36em; 
  cursor: pointer;
  border-radius: 16px;
}

#add-room {
  background-color: white;
  border: none;
  color: #AAADD1;
  padding: 10px 10px;
  font-family: 'Mali', cursive;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  margin-left: 36em; 
  cursor: pointer;
  border-radius: 16px;
}

.dashboard-container {
  text-align: center;
}

.dashboard-button {
  padding: 15px 25px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #969EFF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(173, 173, 173, 0.575);
}

.dashboard-button:hover {background-color: #867efa}

.dashboard-button:active {
  background-color: #8873ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.nav-bar {
  margin: 1em 0;
}

